1. 端口必须是可配置的, 且端口必须大于1024，小于1024的端口有特殊作用
2. 自开发应用的端口必须可配置的, 不能直接写入应用
3. 随机端口必须放入指定的主机中运行, 组成可直接互联的小集群, 通过iptables -A INPUT -s source_ip 区分, 避免出现无法指定端口
4. 其他用户, 执行应用的运行时, 通过命令  su -c "sh command" -s /bin/bash env_user 
                                 -c : 指定执行的用户命令, 一般是字符串
                                 -s : 用户操作的执行环境
                                 
5.

